#greeting {
  font-weight: normal;
  font-style: italic;
  padding-bottom: 2%;
  font-size: medium;
}

#dateTime {
  display: inline;
  font-weight: bolder;
  font-size: 40px;
}

html, body {
  background-color: rgb(47, 47, 47);
  text-align: center;
  color: white;
  width: 100%;
}

#search {
  margin-top: 20%;
}