@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

#greeting {
  margin-top: 155px;

  font-weight: normal;
  padding-bottom: 35px;
  font-size: 34px;
  font-family: 'Poppins', sans-serif;
}

#dateTime {
  display: inline;
  font-weight: bolder;
  font-size: 44px;
}

#searchForm {
  text-align: center;
  margin: 0;
  /* position: absolute;
  top: 45%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
}


#searchBox {
  background-color: white;
  border: none;
  border-radius: 22px;
  width: 330px;
  padding: 14px;
  margin: 10px;
  margin-bottom: 25px;
  color: black;
  font-size: 15px;

  box-shadow: inset 1px 1px 1px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);

  /* This is for the search logo */
  padding-left: 40px;
  background-size: 22px 22px;
  background-repeat: no-repeat;
  background-position: 10px 0.7rem;
  background-image: url('../assets/img/googleLogo.png');
}

#searchButton,
#openSearch {
  padding: 8px;
  margin: 8px;
  background-color: #f8f9fa;
  border: solid 1px #f0f1f1;
  border-radius: 4px;
  color: #3c4043;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
}

#weatherInfo {
  margin-left: 25px;
  margin-top: 20px;
  display: flex;
  position: absolute;
  top: 0;
}

#temp {
  font-size: 32px;
  /* font-family: 'Poppins', sans-serif; */
  border: none;
  background-color: transparent;
  color: rgb(255, 255, 255);
}

/* This is so that no blue outline shows up when clicking one of these elements */
input:focus,
select:focus,
button:focus {
  outline: none;
}

button {
  margin: 20px;
}

.custom-btn {
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  outline: none;
}


/* light */
.btn-light {
  border: none;
  color: #000;
}

.btn-light:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  box-shadow:
    -7px -7px 20px 0px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}

.btn-light:hover {
  color: #000;
}

.btn-light:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}

.btn-light:active {
  top: 2px;
}

/* This is for the gradient background */
html,
body {
  color: white;
  width: 100%;
  margin: 0;
  width: 100%;
  height: 100vh;
  /* Gradient BG inspired by @P1N2O (CodePen) */
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 600% 600%;
  animation: gradient 15s ease infinite;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* For custom placeholder colors */

p {
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0;
}

/* For modal */

.modalShown {
  display: block !important;
}

#settings_changesearch {
  color: rgb(104, 104, 104);
}

#open-btn {
  border: none;
  background-color: transparent;
  margin-left: 20px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  position: fixed;
  top: 92%;
  cursor: pointer;
}

#settingsIcon {
  width: 20px;
}

/* modal part */
#modal-background {
  display: none;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#modal {
  background-color: #fff;
  color: rgb(34, 34, 34);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  font-size: 1.5rem;
  animation-name: animatemodal;
  animation-duration: 0.4s;
}

hr {
  border-bottom: 1px solid #3c4043;
  width: 80%;
}

#close-btn {
  align-self: flex-end;
}

#close-btn:hover {
  cursor: pointer;
  color: #ff0000;
}

#settingsTitle {
  padding-bottom: 40px;
  margin: 0;
  color: #333;
}

.settingsSubtitles {
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: underline;
}

/* modal part end */

.inline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

#searchEngineLogo {
  width: 28px;
  height: 28px;
}

/* animation part */
@keyframes animatemodal {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 50%;
    opacity: 1;
  }
}

/* animation part end */


/* For the Bookmarks */

#bookmarks {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  user-select: none;
}

#ntp {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
  outline: none;
}

.text {
  overflow: hidden;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 0.5rem;
  padding: 0 0.5rem;
}

.icon {
  display: inline-block;
  background-color: #00000060;
  border-radius: 50%;
  margin: 0.5rem;
  transition: background-color ease 0.15s;
}

.icon img {
  padding: 10px;
  width: 25px;
  height: 25px;
}


.item,
.edit {
  text-decoration: none;
  color: #fff;
  position: relative;
  width: 100px;
  margin: 1rem;
  outline: none;
  text-shadow: 1px 1px 1px rgb(40, 40, 40);
  transition: ease-in-out 0.25s background-color;
}

.hover .icon,
.edit:hover .icon {
  cursor: pointer;
  background-color: #00000080;
}

.showInfo .moveHandler {
  z-index: 1;
  opacity: 1;
}

/* For ios style toggle button */
label {
  display: block;
  width: 54px;
  height: 32px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  background-color: #E6E9EC;
}

/* Hides check box */
input#toggleBookmarks {
  display: none;
}

/* The toggle */

i {
  height: 28px;
  width: 28px;
  background: #ffffff;
  display: inline-block;
  border-radius: 100px;
  margin-top: 2px;
  margin-left: 2px;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  pointer-events: none;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

label:hover>i {
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.20);
  transform: scale(1.01);
}

input:checked+label>i {
  margin-left: 24px;
}

label:active {
  background-color: #A6B9CB;
}

label:active>i {
  width: 34px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.20);
}

input:checked+label:active>i {
  margin-left: 18px;
}

input:checked+label {
  background-color: #008FFF;
}

#about {
  margin-top: 25px;
}

#aboutText {
  font-size: 18px;
}

.smallText {
  font-size: 24px;
}